---
import Slide from '../components/Slide.astro';
---

<Slide>
  <h2>Bébou est-ce que tu me gnoni</h2>
  <img
    data-id='box'
    src='https://pbs.twimg.com/profile_images/378800000605499525/6c13a256467e5671316168f84e4a8d3a_400x400.jpeg'
    alt='schema'
  />
</Slide>

