---
import Slide from '../components/Slide.astro';
---

<Slide>
  <h2>Méthode de travail</h2>
  <ul>
    <li>Travail en équipe (mode agile)</li>
    <li class="fragment">SQL & BDD dans PhpStorm</li>
  </ul>
</Slide>
<Slide>
  <h2>Méthode de travail</h2>
  <ul>
    <li>SQL & BDD dans PhpStorm</li>
    <img
    src='https://www.jetbrains.com/datagrip/img/screenshots/query-console.png'
    alt='query console'
    />
  </ul>
</Slide>
<Slide>
  <h2>Méthode de travail</h2>
  <ul>
    <li>Travail en équipe (mode agile)</li>
    <li>SQL & BDD dans PhpStorm</li>
    <li>Diaporama en Reveal.Js</li>
  </ul>
</Slide>
<Slide>
  <h2>Méthode de travail</h2>
  <ul>
    <li>Diaporama en Reveal.Js</li>
    <iframe src="https://revealjs.com/" width="900kpx" height="600px"></iframe>
  </ul>
</Slide>
