---
import Slide from '../components/Slide.astro';
---

<Slide>
  <div class:list={['wrapper']}>
    <h2>Requêtes</h2>
  </div>
</Slide>
<Slide>
  <div class:list={['wrapper']}>
    <h2>Requêtes</h2>
    <p>
      1. Calculer la balance de votre système de sécurité social en sachant que
      les produits correspondent à 15.9% du salaire Brut de chaque salarié ainsi
      que 29% du salaire net et les charges correspondant au montant total des
      prises en charge des prestations médicales réalisées
    </p>
  </div>
</Slide>
<Slide>
  <div class:list={['wrapper']}>
    <strike><h2>Requêtes</h2></strike>
    <pre><code class="hljs sql">SELECT * FROM comprendre WHERE mal_de_crane=false</code></pre>
  </div>
</Slide>
