---
import Layout from '../layouts/Layout.astro';
import Conception from '../slides/Conception.astro';
import Title from '../slides/Title.astro';
---

<Layout title='TP n°2 SQL'>
  <main class='reveal'>
    <div class='slides'>
      <Title />
      <Conception />
    </div>
  </main>
</Layout>

<style lang='scss'>
  main {
    background: linear-gradient(40deg, #3875ab, #1028a1);
  }
</style>
